# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class

*.idea
*.terraform*
terraform.tfstate
venv/
*.DS_Store
feature/add-linters
operational/airflow/logs/
*.pyc
*.env
backend/venv/
