.user-page {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 30px;
    width: 1535px;
    justify-self: center;
}

.user, .notifications {
    width: 40%;
    background-color: white;
    height: 100%;
    border-radius: 1em;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.231);
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.user-block1 {
    position: relative;
}
.user-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
}
.plus-photo {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    right: 7px;
    top: 170px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
}

.user-block2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}
.user-text-bold {
    font-weight: bold;
    font-size: 24px;
}
.user-block2-text-gray {
    color: gray;
}
.form-group {
    width: 90%;
}
.name-input {
    border: 0;
    font-size: 18px;
}
.user-info {
    color: gray;
    font-size: 12px;
    margin: 0;
    margin-bottom: 5px;
}
.separator, .user-email {
    margin: 0;
}

.notifications {
    align-self: center;
}
.notification {
    width: 90%;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.231);
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
    position: relative;
}
.notifications .user-text-bold {
    align-self: start;
    margin-left: 20px;
}
.notification-name, .notification-text-bold {
    font-weight: bold;
}
.notification-text {
    margin-top: 0;
}
.notification-time {
    color: gray;
    position: absolute;
    right: 10px;
    bottom: 0;
}

.notification-weather {
    display: flex;
    align-items: center;
}
.notification-weather img {
    width: 25px;
    height: 25px;
}

.user-button {
    border-radius: 1em;
    background: rgb(19,99,223);
    background: linear-gradient(135deg, rgba(19,99,223,1) 0%, rgba(28,75,130,1) 100%);
    color: white;
    border: 0;
    font-size: 24px;
    padding: 10px 20px;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 20px;
    transition: background 0.3s ease;
}
.settings, .getback {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
}
.settings {
    right: 50px;
    top: -60px;
}
.getback {
    right: 0;
    top: -60px;
}

.user-button.blue {
    background: linear-gradient(135deg, rgb(0, 66, 165) 0%, rgb(0, 41, 87) 100%);
}

.user-button:hover {
    background: linear-gradient(135deg, rgb(0, 148, 188) 0%, rgb(0, 101, 164) 100%);
}

.gray {
    background: rgb(215, 215, 215);
}