.user-page {
  display: flex;
  justify-self: center;
  position: relative;
  gap: 20px;
  width: 1260px;
  margin: 20px 20px 0 20px;
}

.user,
.notifications {
  background-color: white;
  height: 100%;
  border-radius: 1em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.231);
  display: flex;
  flex-direction: column;
  position: relative;
}

.notifications {
  width: 60%;
  padding: 20px;
  box-sizing: border-box;
}

.user {
  width: 40%;
  align-items: center;
}

.user-block1 {
  position: relative;
}

.user-photo {
  width: 160px;
  height: 160px;
  margin: 20px 0 0 0;
  background-color: #ddd;
  border-radius: 50%;
  border: 20px #ddd solid;
}

.plus-photo {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: absolute;
  right: 25px;
  top: 150px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid black;
  display: none;
}

.profile-info {
  display: flex;
  width: 85%;
  justify-content: space-between;
}

.user-text-bold {
  font-weight: bold;
  font-size: 24px;
}

.user-block2-text-gray {
  color: gray;
  margin: 0;
  align-self: center;
}

.faq {
  width: 90%;
  margin: 0 auto 20px auto;
}

.faq-item {
  margin-bottom: 10px;
  background-color: #fcdd94;
  border-radius: 2em;
  position: relative;
}

.faq-status {
  padding-left: 20px;
  margin-bottom: 10px;
}

.user-button {
  display: flex;
  justify-self: center;
  border-radius: 0.5em;
  background: rgb(19, 99, 223);
  background: linear-gradient(135deg, rgba(19, 99, 223, 1) 0%, rgba(28, 75, 130, 1) 100%);
  color: white;
  border: 0;
  font-size: 24px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  padding-top: 9px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.231);
}

.faq-status p {
  margin: 0 0 0 10px;
  opacity: 50%;
}

.faq-status .error-text {
  color: red;
}

.faq-status .success-text {
  color: green;
}

.faq-title {
  display: block;
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}

.faq-title-email {
  display: block;
  padding-left: 20px;
}

.faq-arrow-top {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.faq-input:checked~.faq-label-arrow-top .faq-arrow-top {
  transform: rotate(180deg);
  transition: transform 0.5s;
}

.faq-input {
  appearance: none;
  position: absolute;
}

.faq-input:checked~.faq-text {
  max-height: 200px;
}

.faq-text {
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s ease;
  position: relative;
}

.faq-text input {
  margin: 0px 0px 10px 20px;
  padding: 10px;
  background-color: white;
  font-size: 18px;
  border-radius: 0.75em;
  border: 0;
  outline: none;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.231);
}

.faq-text .field {
  background-color: white;
  border-radius: 0.75em;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.231);
  width: 200px;
  margin: 20px;
  position: relative;
}

.faq-text .field:first-child {
  margin-top: 0;
}

.faq-text .field input {
  outline: none;
  height: 100%;
  margin: 0;
  border: none;
  align-self: center;
  margin: 0;
  background: none;
  box-shadow: none;
}

.faq-text .field input {
  font-size: medium;
}

.faq-text .field .icon {
  width: 25px;
  height: 25px;
  opacity: 50%;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.faq-text button {
  font-size: 18px;
  position: absolute;
  right: 20px;
  margin: 0;
  bottom: 20px;
}

.faq-text button:disabled {
  cursor: auto;
}

.faq-title-type {
  min-width: 150px;
}

.faq-title-text {
  font-weight: bold;
}

.faq-title-type,
.faq-title-text {
  display: inline-block;
}

.gray {
  background: rgb(215, 215, 215);
}

@media only screen and (max-width: 1300px) {
  .user-page {
    min-width: unset;
    width: 96%;
  }
}

@media only screen and (max-width: 1100px) {
  .user-page {
    flex-direction: column;
    align-items: center;
  }

  .user,
  .notifications {
    width: 95%;
  }
  .user {
    margin-bottom: 20px;
  }
  .faq-title-type {
    min-width: 50px;
  }

  .padding-left {
    padding-left: 10px;
  }

  .faq-text input {
    font-size: 14px;
  }

  .faq-text button {
    font-size: 14px;
  }
}

@media only screen and (max-width: 600px) {

  .user-page,
  .notifications {
    margin: 0 20px;
    gap: 0;
  }

  .user-text-bold {
    font-size: 18px;
    min-width: 100px;
  }

  .user-block2-text-gray {
    font-size: 14px;
  }
}