.add-city-button {
    background-color: white;
    color: black;
    border: 2px solid #1363DF;
    padding: 5px; 
    cursor: pointer;
    margin: 1% 1%; 
    font-size: 22px; 
    border-radius: 1em;
    transition: background-color 0.3s, color 0.3s;
    width: 18%; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    white-space: nowrap;
}

.add-city-button:hover {
    background-color: #E8F1FF;
}

.plus {
    color: #1363DF;
    width: 2em; 
    height: 2em;
    transition: color 0.3s;
}

.icon-blue {
    color: white;
}

.add-city-button.blue {
    color: white;
    background: linear-gradient(135deg, rgba(19,99,223,1) 0%, rgba(71,181,255,1) 100%);
}

.plus.icon-blue {
    color: white;
}

.add-city-button-text {
    margin: 0 auto;
    font-size: 1em; 
    padding-right: 10px;
}


@media (max-width: 768px) {
    .add-city-button {
        width: 40%; 
        font-size: 3vw;
        padding: 8px 16px;
        margin: 1% auto;
        margin-bottom: 3%;
    }

    .plus {
        width: 1.5em;
        height: 1.5em;
    }
}


@media (max-width: 576px) {
    .add-city-button {
        width: 40%; 
        font-size: 4vw;
        padding: 6px 12px;
        margin: 1% auto; 
        margin-bottom: 3%;
    }

    .plus {
        width: 1.2em;
        height: 1.2em;
    }
}
