.city-list {
    background-color: white;
    border-radius: 0.5em;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.231);
    overflow-x: auto;
}
.city-list button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s ease, padding 0.3s ease;
    border-radius: 0.5em;
    font-size: medium; 
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 165px;
    margin: 3px;
}

.city-list button.blue {
    background: rgb(19,99,223);
    background: linear-gradient(135deg, rgba(19,99,223,1) 0%, rgba(28,75,130,1) 100%);
    color: white;  
}
