.form {
  background: #FFFAF1;
  width: 40%;
  height: 70%;
  border-radius: 3em;
  margin: 5%;
  padding: 20px;
  display: grid;
  position: relative;
  grid-template-columns: 50% 50%;
}

.left-column {
  display: flex;
  justify-content: center;
  align-items: center; 
}

.form-weather-icon {
  max-width: 90%;
  max-height: 90%;
}

.return-button {
  height: 15%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  position: absolute;
  left: 2%;
  top: 2%;
}

.return-arrow {
  width: 100%;
  height: 100%;
}

.data-form {
  width: 100%;
  height: 100%;
}

.data-form h1 {
  font-weight: 400;  
  margin-top: 0;
}

.input-field {
  width: 100%;
  background: #FFF4DE;
  margin-bottom: 5%;
  display: flex;
  align-items: center;
  height: 15%;
  border-radius: 1em;
  color: #C5C1C1;
}

.input-field input {
  background: transparent;
  border: none;
  outline: none;
  width: 70%;
  font-size: xx-large;
}

.icon {
  height: 50%;
  width: 10%;
  margin: 5%;
}

.data-form button {
  width: 100%;
  height: 15%;
  margin: 0% 0% 7%;
  background: #FFE3AB;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;  
  font-size: 35px;
}

.link {
  text-align: center;
}

.link p, a {
  font-size: large;
  display: inline;
}

.link p {
  color: #C5C1C1;
  padding-right: 1%;
}

.link a {
  text-decoration: none;
}

.google-icon {
  height: 8%;
  position: absolute;
  bottom: -4%;
  right: 23%;
  background: white;
  border-radius: 2em;
  cursor: pointer;
}

@media screen and (max-width: 1100px) {
  .form {
    grid-template-columns: 100%;
  }
  .left-column {
    display: none;
  }

  .data-form h1 {
    text-align: center;
  }

  .google-icon {
    bottom: -3%;
    right: 45%;
  }

  .return-button {
    height: 9%;
    left: 4%;
    top: 4%;
  }
}

@media screen and (max-width: 700px) {
  .form {
    width: 80%;
  }
  /* .input-field {
    margin-bottom: 2.5%;
  }

  .data-form button {
    margin-bottom: 2.5%;
  } */
}