.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px; 
  margin-top: 1%;
}

.header p {
  font-size: 2vw; 
}

.block-with-logo {
  display: flex;
  align-items: center;
}

.logo {
  border-radius: 50%;
  height: 50px; 
  padding: 10px;
}

.login-button {
  background-color: white;
  color: black;
  border: 2px solid #1363DF;
  border-radius: 0.5em;
  font-size: 1.5vw; 
  width: 11vw; 
  padding: 10px 2vw; 
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: left;
  transition: background-color 0.3s, color 0.3s;
}


.login-button:hover {
  background-color: #E8F1FF;
}


.login-button.blue {
  background: linear-gradient(135deg, rgba(19,99,223,1) 0%, rgba(28,75,130,1) 100%);
  color: white;
}

.icon-button-login {
  width: auto;
  height: 1em; 
  padding-right: 8%;
  color: #002644;
}

.icon-button-login.white {
  color: white;
}


@media (max-width: 768px) {
  .header p {
    font-size: 3vw;
  }
  .logo {
    height: 40px;
  }
  .login-button {
    font-size: 2.5vw;
    width: 15vw;
  }
}


@media (max-width: 576px) {
  .header {    
    padding: 10px 5%;
  }

  .header p {
    font-size: 4vw;
    text-align: center;
  }

  .logo {
    height: 30px;
  }

  .login-button {
    font-size: 3.5vw;
    width: 30vw;
    padding: 8px 5vw;
  }
}
