.hour-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #eaf6fe;
    border-radius: 6px;
    margin: 0 5px;
    padding-top: 0px;
    

}

.hour-header {
    background-color: rgb(155, 215, 252);
    margin-left: -20px; /* компенсируем padding слева */
    margin-right: -20px; /* компенсируем padding справа */
    padding: 20px;
    border-radius: 10px;
}

.hour-time {
    font-weight: bold;
    font-size: 18px;
}

.hour-temp, .hour-feels, .hour-pressure, .hour-humidity, .hour-wind, .hour-precipitation {
    margin: 7px 0;
    font-size: 18px;
}

.hour-icon {
    font-size: 24px;
    margin: 5px 0;
}
