.Main {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.day-elements {
    display: flex;
    justify-content: center;
    margin: 1% 1%;
}

.top-elements {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    justify-content: center;
    padding: 0 5%;
}


.CitySearch, .week-buttons {
    width: 100%;
    max-width: 500px; 
}


@media (max-width: 576px) {
    .top-elements {
        flex-direction: column; 
        align-items: center; 
        padding: 0 5%; 
    }

    .CitySearch, .week-buttons {
        width: 100%; 
        max-width: 500px; 
        margin-bottom: 10px; 
    }
}