.Main {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.top-elements {
    display: flex;
}
.day-elements {
    display: flex;
    justify-content: center;
}