.page-hour {
    display: grid;
    grid-template-rows: 80px 1fr;
    width: 70%;
    justify-self: center;
    
}

.hour-table {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-left: 20px;
    background-color: white;
    border-radius: 6px;
}

.hour-table-main-text {
    padding-left: 32px;
    font-size: 18px;
}

.hour-columns {
    display: flex;
    overflow-x: auto;
    padding: 10px;
}