.city-list {
    background-color: white;
    border-radius: 0.5em;
    margin: 20px;
    display: flex;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.231);
    overflow-x: auto;
    width: stretch;
}

.city-list .loading,
.error {
    width: 150px;
    font-size: 17px;
    display: flex;
    align-items: center;
}

.city-list .error {
    padding: 10px;
}

.city-list button {
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, font-size 0.3s ease, padding 0.3s ease;
    border-radius: 0.5em;
    font-size: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 164px;
    margin: 3px;
}

.city-list button:hover {
    background-color: rgb(236, 236, 236);
    transition: 0.4s;
}

.city-list button.blue {
    background: rgb(19, 99, 223);
    background: linear-gradient(135deg, rgba(19, 99, 223, 1) 0%, rgba(28, 75, 130, 1) 100%);
    color: white;
}

.city-list button .flag-container {
    width: 30px;
    margin-left: 10px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.city-list button .flag-container .flag {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.context-menu {
    position: absolute;
    background: white;
    border-radius: 1em;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    z-index: 1000;
}

.context-menu button {
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 5px 10px;
    text-align: left;
    cursor: pointer;
}

.context-menu button:hover {
    background-color: #f0f0f0;
    border-radius: 0.5em;
}