.home-page {
    display: grid;
    grid-template-rows: 80px 1fr 1fr auto;
    grid-template-columns: auto 1fr;
    width: 1300px;
    justify-self: center;
}

.cities {
    grid-row: 1;
    grid-column: 1/3;
    display: flex;
}

.days,
.map,
.sun-time,
.notification-block {
    background: white;
    border-radius: 1em;
    margin: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.231);
}

.map,
.sun-time {
    grid-column: 2;
}

.sun-time {
    grid-row: 2;
}

.map {
    min-height: 250px;
}

.notification-block {
    position: fixed;
    left: 30px;
    bottom: 30px;
    height: 100px;
    width: 100px;
    transition: .7s;
}

.notification-header p {
    text-align: center;
    font-size: 26px;
    margin: 10px;
}

.notification-header {
    display: none;
}

.notification-header.active {
    display: block;
}

.notification-header .cross {
    font-size: 30px;
    top: 15px;
}

.notification-block.not-active {
    cursor: pointer;
}

.notification-block.active {
    height: auto;
    width: auto;
}

.notification-block.not-active:hover {
    transform: scale(1.05);
}

.notification-block .notification-block-icon {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.notification-block .notification-block-icon.active {
    display: none;
}

@media only screen and (max-width: 1300px) {
    .home-page {
        width: 100%;
    }   
}

@media only screen and (max-width: 900px) {
    .cities .city-list {
        width: stretch;
    }

    .cities .city-list button {            
        font-size: 15px;
        text-align: center;
        min-width: auto;
        max-width: 120px;
    }
    .home-page {
        grid-template-rows: 80px repeat(4, auto);
    }

    .sun-time {
        grid-row: 3;
    }

    .map {
        grid-row: 4;
        
    }

    .cities .add-city-button {
        justify-content: center;
        min-width: 40px;
        border-radius: 5em;
        margin-right: 0;
    }

    .cities .add-city-button .add-city-button-text {
        display: none;
    }

    .notification-block .notification-block-icon {
        font-size: 30px;
    }

    .notification-block {
        left: 0px;
        bottom: 40px;
        height: 50px;
        width: 50px;
        box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    }
}